
<app-login *ngIf="router.url =='/login'"></app-login>
<div  *ngIf="router.url =='/members'">
<mat-toolbar color="primary" class="app-header">
  <button mat-icon-button>
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>

  <span class="menu-spacer"></span>
  <app-header class="mat-toolbar-single-row"></app-header>
  
</mat-toolbar>
<mat-sidenav-container >
  
  <mat-sidenav mode="side" opened class="mat-primary-bgcolor" #sidenav>
    <mat-nav-list >
    
    <a mat-list-item routerLink="members" routerLinkActive="active"> Members</a>
    <a mat-list-item  (click)="logout()"> Logout</a>
      

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
